.navbar-default {
    margin-top: 0;
    height: 60px;
    padding-top:30px;
    text-align: center;
    padding-left: 45px;
    font-size: 1.7em;
    font-family:  sans-serif;
    background: #a4214b;
    border-color: #e7dcdd;
}

.navbar-default1 .navbar-brand1{
    padding-left: 0%;
    font-weight: bold;
    text-align: center;
    animation-name: moveToLeft;
    animation-duration: 10s;
}
@keyframes moveToLeft{
    0%{
        transform:translateX(150px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

.navbar-default1 {
    height: 60px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 50px;
    text-align: center;
    font-family: 'Actor', sans-serif;
    background: #100607;
    border-color: darkslategray;
    color: #ffffff;
}


.navbar-default .navbar-brand {
    font-size: 1em;
    font-family: 'Actor', sans-serif;
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}


@media (max-width: 480px) {
    .manual-section-description {
        padding: 0em 0em 0em 0em;
        margin: 0em 0em 0em 0em;
    }
}
